<html>

<head>
</head>

<body>
<style>
.chunk {
  color: #333;
  background-color: white;
  border-radius: 0px;
  margin: 0 0 10px;
  display: block;
  font-size: 14px;
  line-height: 1.42857143;
  font-family: monaco;
  padding-left:6px;
}
</style>

<div class="chunk" width=100%>
&ndash;&ndash;&ndash;<br>

output:<br>
&nbsp;&nbsp;html_document:<br>
&nbsp;&nbsp;&nbsp;&nbsp;theme: lumen<br>
&nbsp;&nbsp;&nbsp;&nbsp;toc: true<br>
&nbsp;&nbsp;&nbsp;&nbsp;toc_depth: 4<br>
&nbsp;&nbsp;&nbsp;&nbsp;include: <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;in_header: header.Rhtml<br>
&ndash;&ndash;&ndash;
</div>


<div style="width:100%;background-color:lightblue;padding:10px">
    <h1>Markdown</h1>
</div>
</body>

</html>
